#headingOne {
    color: gray;
    float: left;
}

body {
    font-family: 'Arial', sans-serif;
}

.ev-b {
    margin: 0px;
}

.ls1-button {
    border-radius: 0px 0px 0px 0px;
}

.standard-button {
    margin: 15.5px 2px 0px 0px;
    padding: 14.5px;
}

#evaluation-text {
    float: right;
    margin: 15.5px 2px 0px 0px;
    padding: 15px;
    /*border: #babebe; */
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.125);
    border-radius: 3px 0px 0px 3px;
}

.jumbotron {
    height: 100vh;
}

.ls-text {
    float: left;
}

.ls-icon {
    float: right;
}


.margin {
    margin: 10px 2.5px 10px 2.5px;
}

.margin-left {
    margin: 5px 2.5px 10px 10px;
}

.margin-right {
    margin: 5px 5px 10px 2.5px;
}


a:hover {
    text-decoration: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 15px;
}

/* Header */
.header {
    padding: 45px 100px 10px 30px;
    background-color: #0074ff;
}

.header ul {
    list-style: none;
    padding: 0;
}

.header li {
    display: inline;
    line-height: 30px;
}

.header h1 {
    margin: 0;
    font-size: 20px;
    color: #fff; /* white */
}

/* selbst erstellte */
#navbar-header {
    color: white;
}

.card {
    margin: 0px 2.5px 20px 2.5px;
}

/*
.header h3 {
  color: #fff;
  font-size: 14px;
  display: inline-block;
  margin: 0;
  font-weight: normal;
  cursor: pointer;
}

.header .dropdown {
  position: relative;
}

.header .dropdown-menu {
  position: absolute;
  top: 20px;
  border-radius: 0;
}

.header .dropdown-menu li {
  display: block;
  margin: 0;
  padding: 3px 10px;
} */

/* Main
.main {
  background: url('https://s3.amazonaws.com/codecademy-content/projects/2/madison-square-market/s1.jpg') no-repeat center center;
  background-size: cover;
  height: 400px;
  width: 100%;
}
*/

/* Footer
.footer {
  background-color: #0074ff;
  padding: 20px 0;
  height: 200px;
}


@media (max-width: 1024px) {
  .header h1 {
    width: 100%;
    text-align: center;
  }

  .pull-right {
    float: none !important;
    margin: 20px auto 0;
    width: 225px;
  }

}*/