$color-text-dark: #35495e;
$color-text-light: #ecf7dd;

$color-primary: #a1cda8;
$color-secondary: #b5dfca;

$color-highlight : #ad9baa;
$color-course: lighten($color-highlight,10%);
$color-topic: lighten($color-highlight,20%);

$color-menu : #3e8070;
